In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('nepsealpha_export_price_NEPSE_2021-01-29_2026-01-29_unadjusted.csv')

In [8]:
data.head()

,Symbol,Date,Open,High,Low,Close,Percent Change,Volume,Turn Over,SMA_20,SMA_1
0,NEPSE,2026-01-29,2731.85,2742.53,2710.04,2714.05,-0.64 %,"14,563,138,865.71",-,NaN,2714.05
1,NEPSE,2026-01-28,2728.22,2735.55,2702.56,2731.59,0.18 %,"11,493,989,185.27",-,NaN,2731.59
2,NEPSE,2026-01-27,2768.97,2782.96,2718.85,2726.51,-1.53 %,"14,167,179,442.72",-,NaN,2726.51
3,NEPSE,2026-01-26,2776.78,2788.09,2746.87,2769.09,-0.11 %,"16,355,730,466.82",-,NaN,2769.09
4,NEPSE,2026-01-25,2716.28,2772.22,2715.78,2772.17,2.12 %,"13,785,729,645.05",-,NaN,2772.17

In [7]:
def calculate_sma(df, window_size):
    """
    Calculates the Simple Moving Average for a given window.
    :param df: Pandas DataFrame containing a 'Close' column.
    :param window_size: Integer (e.g., 20, 50) for the average period.
    :return: DataFrame with a new SMA column.
    """
    column_name = f'SMA_{window_size}'
    
    # .rolling(window) looks back at the specified number of rows
    # .mean() calculates the average of those rows
    df[column_name] = df['Close'].rolling(window=window_size).mean()
    
    return df

# Example Usage:
# df = pd.read_csv('nabil_data.csv')
df = calculate_sma(data, 1)  # Adds 'SMA_20' column
print("hey man sma is :")
print(df)
# df = calculate_sma(df, 50)  # Adds 'SMA_50' column

hey man sma is :
     Symbol        Date     Open     High      Low    Close Percent Change  \
0     NEPSE  2026-01-29  2731.85  2742.53  2710.04  2714.05        -0.64 %
1     NEPSE  2026-01-28  2728.22  2735.55  2702.56  2731.59         0.18 %
2     NEPSE  2026-01-27  2768.97  2782.96  2718.85  2726.51        -1.53 %
3     NEPSE  2026-01-26  2776.78  2788.09  2746.87  2769.09        -0.11 %
4     NEPSE  2026-01-25  2716.28  2772.22  2715.78  2772.17         2.12 %
...     ...         ...      ...      ...      ...      ...            ...
1158  NEPSE  2021-02-04  2479.60  2481.59  2443.68  2475.26         0.00 %
1159  NEPSE  2021-02-03  2490.53  2519.85  2457.99  2466.92         0.00 %
1160  NEPSE  2021-02-02  2434.48  2473.73  2429.90  2473.73         0.00 %
1161  NEPSE  2021-02-01  2372.04  2413.18  2372.04  2408.24         0.00 %
1162  NEPSE  2021-01-31  2425.53  2425.53  2366.46  2370.54         0.00 %

                 Volume Turn Over     SMA_20    SMA_1
0     14,563,138,865.71         -        NaN  2714.05
1     11,493,989,185.27         -        NaN  2731.59
2     14,167,179,442.72         -        NaN  2726.51
3     16,355,730,466.82         -        NaN  2769.09
4     13,785,729,645.05         -        NaN  2772.17
...                 ...       ...        ...      ...
1158   7,615,071,093.00         -  2547.0430  2475.26
1159   9,531,716,496.00         -  2549.5885  2466.92
1160   8,593,472,987.00         -  2550.5085  2473.73
1161   6,972,936,529.00         -  2545.1690  2408.24
1162   8,973,206,450.00         -  2539.9765  2370.54

[1163 rows x 11 columns]